<?xml version="1.0"?>

<model>
  <name>TCRH</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Florian Olbrich</name>
    <email>florian.olbrich@oth-regensburg.de</email>
  </author>

  <description>
    TCRH Mosbach training ground
  </description>

</model>
